// Here you can add other styles

@mixin marginY() {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  @mixin marginX() {
    margin-left: auto;
    margin-right: auto;
  }
  
  @mixin pabsolute($right, $left, $top, $bottom) {
    position: absolute;
    right: $right;
    left: $left;
    top: $top;
    bottom: $bottom;
  }
  
  @mixin bgimg($bgimg, $bgrepeat, $bgsize, $bgposition) {
    background-image: $bgimg;
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgposition;
  }
  
  @mixin widthheight($width, $height) {
    width: $width;
    height: $height;
  }

  $colors: (
      primary: #2196f3,
      whiteclr: #ffffff,
      blackclr: #000000,
      darkGreyClr: #616161,
      blueclr: #19a093,
      yellowclr: #d5ea00,
      danger:   #ff2727,
  );

body{
    background-color: map-get($colors, whiteclr);
}
.row{
    margin-left: initial;
    margin-right: initial;
}
.lightGrey{
    color: #acacac;
}
.customTable{
    th, td{
        border:none !important;
        vertical-align: middle !important;
        text-align: center;
        font-size: 13px;
    }
    thead {
        background-color: #9e9e9e;
        color: map-get($colors, whiteclr);
        th{
            font-weight: normal;
        }
    }
    tbody tr{
        &:nth-of-type(odd){
            background-color: #e6e6e6;
        }
        &:nth-of-type(even){
            background-color: map-get($colors, whiteclr);
        }
    }
}
.orderTable{
    .btn{
        padding: 1px;
        width: 70px;
    }
    .btn-danger{
        background-color: map-get($colors, danger);
    }
    .btn-primary{
        background-color: map-get($colors, primary);
    }
    tr:hover{
        cursor: pointer;
    }
}
.tableHeader{
    select {
        padding: 3px 0px;
        min-width: 148px;
    }
    .searchBox{
        &::before {
            content: "\F002";
            font-family: fontawesome;
            @include pabsolute(initial, 7px, 7px, initial);
            z-index: 9;
        }
        input{
            width: 210px;
            border-radius: 20px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #000;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #000;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #000;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #000;
              }
        }
    }
    .form-control, button.btn-preview-addcard{
        border:1px solid #a9a9a9 !important;
    }
}

.orderDetailPage{
    background-color: #f5f5f5;
    h3 {
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 3px solid #e0e0e0;
        color: #4b535b;
        font-size: 16px;
    }
}

// .orderDetailPage{
//     background-color: map-get($colors, whiteclr);
// }   
.orderDetailsData{
    background-color: #f5f5f5;
    div{
        // label{
        //     width: 70%;
        //     display: inline-block;
        // }
        // span{
        //     width: 30%;
        //     padding-left: 20px;
        // }
        label, span {
            font-size: 0.8rem;
        }
        &.oddcol-01 label {
            width: 180px;
        }
        &.oddcol-02 label {
            width: 215px;
        }
        &.oddcol-03 label {
            width: 110px;
        }
    }
    > div > div {
        margin-bottom: 5px;
    }
    button {
        background-color: #ffff;
        color: #2f8ada !important;
        border: 1px solid #e0e0e0;
        font-weight: bold;
        min-width: 120px;
    }
    .backButton{
        background-color: #0070d2;
        color: #fff !important;
    }
    > div > div.supportLog{
        background-color: #fff;
    }
}

.modalClose{
    font-size: 30px;
    @include pabsolute(16px, initial, 10px, initial);
}

.siteLogo{
    img{
        object-fit: cover;
    }   
}

.main .container-fluid{
    padding: 0px !important;
}

.headerButtons{
    .nav-item{
        margin-right: 10px;
        a.active{
            border-color: map-get($colors, primary) !important;
            background-color: map-get($colors, primary) !important;
            color: map-get($colors, whiteclr) !important;
        }
        a {
            padding: 1px 5px;
            min-width: 85px;
            background-color: map-get($colors, darkGreyClr);
            border-color: map-get($colors, darkGreyClr);
            color: map-get($colors, whiteclr);
            &:hover{
                border-color: map-get($colors, primary);
                background-color: map-get($colors, primary);
            }
        }
    }
}
.logOutButton{
    min-width: 105px;
}
.orderValueSec{
    h5{
        font-size: 16px;
    }
}
.customTabs{
    .nav-item{
        &:last-child .nav-link{
            border-right: 1px solid map-get($colors, blueclr);
        }
    }
    .nav-link{
        border-color: map-get($colors, blueclr);
        background-color: map-get($colors, yellowclr);
        border-bottom: none;
        transition: all linear .3s;
        border-right:none;
        
    }
    .nav-link.active, .nav-link:hover{
        background-color: transparent;
        border-color: map-get($colors, blueclr);
    }
    
} 
.customTabContent{
        border:none;
        // background-color:#f5f5f5;
        .tab-pane{
            padding:0px; 
        }
}
.customTabs .nav-link {
    padding: 4px 5px;
    min-width: 125px;
    text-align: center;
    position: relative;

    .tabsDataCount{
        @include pabsolute(5px, initial, -20px, initial);
        @include widthheight(25px, 25px);
        color: map-get($colors, whiteclr);
        background-color: map-get($colors, danger);
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
    }
}


.app-header{
    .nav-item .nav-link > .img-avatar{
        height: 27px;
    }
    .navbar-toggler{
        position: relative;
        margin-bottom: 7.5px;
        span.navbar-toggler-icon{
            background-image: none;
            background-color: #b1b1b1;
            width: 33px;
            height: 5px;
            border: 2px solid #222;
            &::before, &::after {
                content: "";
                width: 33px;
                height: 2px;
                background: #b1b1b1;
                position: absolute;
                height: 5px;
                border: 2px solid #222;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &::before {
                top: 5px;
            }
            &::after {
                bottom: 0px;
    
            }
        }
    }
    
}
.contentBox{
    background-color: #f5f5f5;
    border: 1px solid #9e9e9e;
    p {
        margin: 0px 0px 3px;
    }
} 
.twoColRight{
    background-color:  #e0e0e0;
}

.supportLog{
    color: #333333;
}

.navbar-toggler:focus{
    outline: none;
}

.brand-minimized .app-header .navbar-brand{
    width: 100px;
    img{
        width: 40px;
    }
}

.cursor{
    cursor: pointer !important;
}

.cutomLoader svg{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    z-index: 99999;
}

.cutomLoader::after {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    margin: auto;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 9999;
}

.react-datepicker__input-container {
    input {
        height: 36px;
        padding: 5px;
    }
    &:after {
        content: "\F073";
        font-family: 'FontAwesome';
        border: 1px solid #a9a9a9;
        padding: 7px 5px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 -webkit-appearance: none; 
 margin: 0; 
}

@media(max-width:767px){

        .cancelOrders{
            div{
                text-align: left;
            }
            .row{
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        } 
    
        .orderButtonsList > div  {
            > div:first-child{
                button{
                    margin-right: 0px !important;
                }
            }
            > div:last-child {
                display: flex;
                flex-flow: column;
                align-items: center;
                button{
                    margin: 0px 0px 20px !important;
                }
            }
        }
    
    .tableHeader{
       > div{
           margin-right: 0px !important;
            width: 100%;
            max-width: 300px;
            span, select{
                width:50%;
            }
        }
    } 
    .customTabs {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li.nav-item {
            margin:0px 2px 20px;
            .nav-link{
                border: 1px solid #19a093;
            }
        }
    }

    .headerGoButton{
        justify-content: center;
        margin-top: 10px;
    }
}

@media(min-width:768px) and (max-width:992px){
    .contentBox{
        width: 47%;
        float: left;
        min-height: 170px;
        margin: 0px 10px 15px !important;
        &:last-child{
            width: 97%;
        }
    } 
}

@media(min-width:768px) and (max-width:1024px){
    .customTabs{
        justify-content: center;
        .nav-link{
            font-size: 11px;
            min-width: 112px;
        }
    }
    .tableHeader{
        flex-wrap: wrap;
        justify-content: center;
        > div{
            margin-bottom: 10px !important;
        }
        .searchBox input{
            width: 185px;
        }
        
    } 
    .orderDataPage .row > div {
        max-width: 100%;
        flex: auto;
    }
}

@media(min-width:992px) and (max-width:1220px){
    
    .app-header{
        .navbar-brand{
            width: 125px;
           
        }
        .headerButtons .nav-item a{
            min-width: initial !important;

        }
    } 
}

@media(min-width:1200px) and (max-width:1800px){
    .orderDetailPage, .orderDetailsData{
         padding: 0px 15px;
    }
}


body.sidebar-hidden.header-fixed.aside-menu-fixed.aside-menu-off-canvas{
    .sidebar{
        margin-left: 0px !important;
    }
}
body.sidebar-hidden.header-fixed.aside-menu-fixed.aside-menu-off-canvas.sidebar-lg-show{
    .sidebar{
        margin-left: -200px !important;
    }
}
// .amountPaidCustomer{
//     label{
//         margin-right: 0px !important;
//         padding-right:10px;
//     }
//     label, span{
//         width: 50% !important;
//     }
// }

.threeColDetails{
    > div{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    label{
        float: left;
        width: 50%;
        margin-right: 0px !important;
    }
    span{
        float: left;
        width: 50%;
        padding-left: 10px;
    }
}
.breakWord{
    word-break: break-all;
}

.customPopUp{
    .modal-body{
        > div{
            padding: 0px;
        }
    }
    button.close{
        display: none;
    }
    button.closeButton {
        background: transparent;
        border: none;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 0px;
        &:focus, &:active:focus{
            background-color: transparent !important;
            border: none !important; 
            box-shadow: none !important;
        }
    }
}

.logoutPopup{
    p{
        font-size: 16px;
    }
    .modal-footer, .modal-header{
        border-color: #ccc !important;
    }
    .modal-footer{
        button:first-child{
            background-color: #fff;
        }
    }
}


.expiryDetails{
    thead, tr{
        background-color: transparent !important;
    }
    thead th{
        color: #000;
        border-bottom: 1px solid #ddd !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

}

.modal-footer.expiryDetailsFoot{
    button{
        background-color: transparent;
        border: 1px solid #ddd;
    }
}

.viewButton {
    background-color: #fff;
    border: 1px solid #ddd;
    &:hover, &:active{
        background-color: #fff !important;
    }
}

.cancelOrders{
    select, input[type="text"]{
        padding: 4px 5px !important;
        width: 100px;
    }
    select{
        border-radius: 3px;
    }
    .row{
        align-items: center;
        padding: 7px 0px;
    }
    .modal-footer{
        button:nth-child(1){
            background-color: #ffff;
            border: 1px solid #e0e0e0;
        }
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

}
.cursor{
    cursor: pointer;
}

button.logOutButton{
    padding: 1px 5px;
    min-width: 85px;
    background-color: #616161;
    border-color: #616161;
    color: #ffffff;
}

.headerButtons button.logOutButton{
    &:hover {
        border-color: #2196f3;
        background-color: #2196f3;
        color: #fff;
    }
    &:focus{
        box-shadow: none;
    }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

span.react-numeric-input b{
    display: none;
}